@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
}
.App {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100vh;
  height: 100vh; */
  max-width: 860px;
  height: 100vh;
  margin: 40px auto;
}

.heading{
  padding: 5%;
}
.btn-newgame{
  padding: 2%;
  font-size: 1rem;
  background: transparent;
  font-family: "Bona Nova SC", serif;
  border-radius: 10%;
  cursor: pointer;
}
.btn-newgame:hover{
  padding: 2.5%;
  box-shadow: 3px 3px 10px rgb(130, 84, 0);
}

